@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
}
body {

    background-color: #48A30012;
    font-family: 'Poppins';
    margin: 0;
}
main {
    margin: 0 16px 32px;
}

.heading {
    font-size: 4rem;
    color: #48A300;
    text-align: center;
}

.heading span {
    color: #61481C;
}

#container {
    background-color: #FBFBFB;
    max-width: 660px;
    /* margin: 0 auto; */
    margin-inline: auto;
    border-radius: 15px;
    padding: 32px 48px;
    box-shadow: 0 0 5px 0px #5d5f5b;
}

.sub-title {
    font-size: 32px;
    position: relative;
}

.sun-image {
    vertical-align: middle;
    margin: 10px;
    animation: rotation 6s infinite linear;
}
.static_img{
    position: absolute;
    left:139px;
    top:30px;
}

.progress-label{
    font-size: 16px;
    color: #858585;

}
.progress-bar{
    height: 30px;
    background-color: #48A3001A;
    border-radius: 15px;
    margin-bottom: 60px;
}
.progress-value{
    height: 100%;
    width: 0%;
    background-color: #48A300;
    border-radius: 15px;
    color: white;
    font-size: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: width 0.25s ease-in-out;
}

.progress-value {
    padding-left: 20px;
    /* min-width: max-content; */
}

.error-label{
    color: #FF5151;
    font-size: 14px;
    display: none;
    font-weight: 500;
    /* margin-block: 20px; */
}

.show-error .error-label{
    display: block;
}
.goal-container{
    border: 1px solid rgb(252, 252, 252);
    border-radius: 17px;
    height: 82px;
    display: flex;
    align-items: center;
    padding: 0 22px;
    background-color: #fff;
    margin-bottom: 42px;
    
}
.check-box{
    width: 24px;
    height: 24px;
    border: 2px solid grey;
    border-radius: 50%;
    flex-shrink: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.goal-inp{
    padding-left: 22px;
    font-family: inherit;
    font-size: 16px;
    border: none;
    outline: none;
    /* height: 100%; */
    width: 100%;
    align-self: stretch;
    /* flex-grow: 1; */
    font-weight: 500;

}
.goal-inp::placeholder{
    color: #D9D9D9;
}
.quote{
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}
.quote1{
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    margin-top: 64px;

}

.completed .check-box{
    background-color: #48A300;
    border: #48A300;
}

.check-icon{
   display: none;
    
}
.completed .check-icon{
    display: block;
}
.completed .goal-inp{
    color: #48A300;
    text-decoration: line-through;
}

@media (max-width: 768px) {
    .heading {
        font-size: 2rem;
    }
    #container {
        padding: 16px 32px;
    }
    .goal-container{
        height: 64px;
        margin-bottom: 32px;
        border-radius: 12px;
    }
    .check-box{
        height: 20px;
        width: 20px;
    }
    .quote1{
        margin-top: 32px;
    }
    .progress-bar{
        height: 24px;
    }
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}  